.plate_add_form {

}

.input_row {
  height: 40px;
  margin-bottom: 4px;
}

.form_row {
  padding-bottom: 8px;
}

.input_area {
  min-height: 150px !important;
}

.submit_button {
  float: right;
}

.table_view {
  :global(.ant-table-thead th) {
    width: 25%;
    text-align: center;
  }
  :global(.ant-table-tbody td) {
    text-align: center;
  }
}

.action_tag {
  cursor: pointer;
}